@model AlacakVerecekTakip.Models.UyelerTablosu

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Kayıt Ol</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/signup-form-17/signup-form-17/css/style.css" rel="stylesheet" />

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="login-wrap p-4 p-md-5">
                        <img class="img" style="margin-left:120px;margin-right:120px" src="~/signup-form-17/signup-form-17/images/icons8_user.ico" />
                        <h3 class="text-center mb-4">Yeni Üye Olun</h3>
                        <form action="#" method="post" class="signup-form">
                            <div class="form-group mb-3">
                                <label class="label" for="name">Kullanıcı Adı</label>
                                @Html.TextBoxFor(x => x.KulAdi, new { @required="required", @class = "form-control", @placeholder = "Ad girin" })
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="surname">Kullanıcı Soyadı</label>
                                @Html.TextBoxFor(x => x.KulSoyadi, new { @required = "required", @class = "form-control", @placeholder = "Soyad girin" })
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password">Şifre</label>
                                @Html.PasswordFor(x => x.Sifre, new { @required = "required", @id = "password-field", @class = "form-control", @placeholder = "Şifre girin" })
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="email">Mail Adresi</label>
                                @Html.TextBoxFor(x => x.Mail, new { @required = "required", @class = "form-control", @placeholder = "Mail girin" })
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="name">Telefonu</label>
                                @Html.TextBoxFor(x => x.Telefon, new { @required = "required", @class = "form-control", @placeholder = "Telefon girin" })
                            </div>                           
                            <div class="form-group">
                                <button class="form-control btn btn-primary submit px-3">Üye Olun</button>
                            </div>
                        </form>
                        <p>Üyeliğiniz varsa! <a href="/AccountController1/UyeGiris/">Üye Giriş</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/signup-form-17/signup-form-17/js/jquery.min.js"></script>
    <script src="~/signup-form-17/signup-form-17/js/popper.js"></script>
    <script src="~/signup-form-17/signup-form-17/js/bootstrap.min.js"></script>
    <script src="~/signup-form-17/signup-form-17/js/main.js"></script>

</body>
</html>

